body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.no-text-decoration,
.no-text-decoration:hover {
    text-decoration: none
}

.line-through {
    text-decoration: line-through
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 750px;
    padding-top: 150px;
  }
}

.popover{
    max-width: 100%;
}

.fat {
    padding: 5px;
}

.outstand {
    margin: 3px;
}